<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
        <div class="footer-col">
            <p>Initial draft by <a href="https://twitter.com/tanmaigo" target="_blank">Tanmai Gopal</a>. Ideas and contributions welcome on <a href="https://github.com/hasura/3factor" target="_blank">Github</a> and <a href="https://discordapp.com/channels/407792526867693568/519755235263250442" target="_blank">Discord Chat</a>
            </p>
        </div>
   </div>
  </div>
</footer>
